@charset "UTF-8";
/* CSS Document */

body {
	background: url(../images/static.gif);
	font-family: 'Coming Soon', 'cursive';
}
.main {
	background: #401410;
	opacity: 0.8;
}
.main .logo {
	margin: 40px 0px;
}
.social {
	background: #320d0b;
	padding: 20px 0px;
}
.footer {
	background: #250a08;
	padding: 40px 0px;
	text-align: center;
}
.footer h2 {
	color: #9d4e4c;
}
.footer p {
	color: #f3c4a8;
	font-size: 18px;
}
.footer span {
	color: #5f2b28;
	font-size: 200%;
}
.copyright {
	background: #1b0706;
	padding: 20px 0px;
	color: #9d4e4c;
	font-size: 11px;
}