@charset "UTF-8";
/* CSS Document */

body {
	background: url(../images/static.gif);
}
.main {
	background: #401410;
	opacity: 0.8;
}
.main .logo {
	margin: 40px 0px;
}
.social {
	background: #401410;
	padding: 40px 0px;
}
.footer {
	background: #401410;
	padding: 40px 0px;
}